@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/***Body***/

html,
body {
   
   height:100%;
   font-family: 'Roboto Mono', monospace;
   background: #FFF3FA;
   
}
html{
height: 100%;

}

body{
display: flex;
flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
/***Headings***/

h1,
h3 {
	padding-top: 0;
	justify-content: center;
	margin-top: 1rem;
	vertical-align: top;
}

#container {
   min-height:100%;
   position:relative;
}


/***Dashboard***/
/***Logo***/

#logo {
	width: 40%;
	height: 30%;
	padding-top: 0;
	margin: 5%;
	position: relative;
	align-items: center;
}

/*****Rules and difficulty buttons***/

#dashboard {
	font-size: 0.85rem;
	top: 0;
	background-color: #649B92;
	color: rgb(32, 30, 28);
	position: relative;
	box-sizing: content-box;
	border: 0.3rem solid #68A376;
	border-radius: 0.5rem;
	max-width: 30%;
	text-align: center;
	margin-left: 3%;
	margin-bottom: 2rem;
}

.rules {
	padding: 1rem;
	position: absolute;
	margin-left: 38%;
	background: #68A376;
	height: 5%;
	box-sizing: content-box;
	justify-content: center;
	width: 52.5%;
	text-align: center;
	color: #f1f1f1;
	border: 0.5rem solid #68A376;
	border-radius: 0.5rem;
    text-align: center;
    padding-bottom:1.5rem;
    top:0;
    bottom:2rem;
    
    
    
}

.level-buttons {
	margin-top: 0.8rem;
	padding-right: 1rem;
	padding-bottom: 0.3rem;
}


/***Canvas, navigation***/

canvas {
	background-color: #f1f1f1;
	position: absolute;
    width: 56%;
    height: 98%;
	margin-top: 12.8%;
    margin-bottom:12%;
    left: 38%;
	border: 1.2rem double #649B92;
	border-radius: 0.5rem;
    
}

#myCanvas {
position:absolute;
margin-top: 7%;
  

}
.navigation,
.title-nav {
	text-align: center;
}

/***Footer***/

.footer {
  background: #919191;
  flex-shrink: 0;
  
}

.fab {
	color: black;
}

.fab:hover {
	color: black;
	transition-duration: 0.4s;
}

/******Feedback form with submit button *****/

#feedbackBtn {
	padding-top: 0.3rem;
}

.modal {
	display: none;
}

.modal-header {
	display: flex;
	justify-content: center;
}

.modal-body {
	align-items: center;
}

.modal-content {
	background-color: #68A376;
	margin: 20% auto;
	border: 0.125rem solid #649B92;
    text-align: center;
}

#feedbackForm {
	box-sizing: border-box;
	width: 50%;
	text-align: center;
	justify-content: center;
}

.close {
	color: rgb(7, 8, 7);
	display: flex;
	align-items: flex-end;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

input[type="text"],
textarea,
input[type="email"],
#email {
	padding: 0.625rem;
	border: #68A376 solid 0.125rem;
	border-radius: 0.125rem;
	box-sizing: border-box;
	margin-top: 0.3125rem;
	margin-bottom: 0.9375rem;
	margin-left: 50%;
	resize: vertical;
}

.label-name,
.label-email,
.label-feedback {
	font-size: 1.1rem;
	margin-left: 50%;
	display: flex;
	flex-direction: row;
	line-height: 80%;
}

#submit {
	margin-left: 80%;
}
#success{
    text-align: center;
    border: 0.3rem #649B92 solid;
    border-radius:0.2rem;
    
    

}

/***** Victory modal ****/
#victory{
    text-align: center;
    border: 0.3rem solid;
    border-radius: 1.5rem; 
}

#victory .modal-content {
    background: #ffc107;}

.btn-warning{
    margin:0.5rem;
}

/*** CSS Responsive breakpoints
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    
    .rules{
        font-size: 0.5rem;
        width:45%;
       
    }

    .levels,
    .title-nav {
        font-size:1rem;
    }
    .title{
        font-size:1.5rem;
    }
    .nav-buttons{
        position:center;
    }
    #myCanvas{
        margin-top:5.8rem;
        margin-bottom:2rem;
    }
    #dashboard{
        padding-bottom:7rem;

    }
    
   


   
}



@media only screen and (min-width: 480px) (max-width: 767px) {
	
}



@media only screen and (min-width: 768px) (max-width:991px) {


	

}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) (max-width:1199px) {
	








}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    #myCanvas{
        margin-top:6.5rem;
    }


	
}