@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/***Body***/
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Roboto Mono', monospace;
}
#container {
   min-height:100%;
   position:relative;
   text-align: center;
}

/***Logo***/
#logo {
width: 11rem;
height: 10rem;
padding-top:0;
margin: 5%;
position: relative;
}


/***Headings***/
h1 {
padding-top:0;
justify-content: center;
margin-top:1rem;
vertical-align: top;

}

h1{
    text-align: center;
}
/***Dashboard***/
#dashboard {
    font-size: 0.85rem;
    width: 30%;
    height: 35%;
    background-color:#649B92;
    color: rgb(32, 30, 28);
    position:relative;
    box-sizing:content-box;
    border: 0.2rem solid #68A376;
        
}

.rules{
    
    padding: 1rem;
    
}

.level {
    text-align: center;

}


.level-buttons{
    margin-top:1.2rem;
}

button{
    padding-right: 1rem;
}
/***Game area***/
canvas {
    border: 1px solid #d3d3d3;
    background-color: #a3c59b;
    align-items: center;
    justify-content: center;
    position: relative;
    
}


#slug{
    
}




/***Footer***/

footer { 
    background: #B5AA99;
    position:absolute;
    bottom:0;
    width:100%;
    height:3rem; 
    text-align: center;
    
}

.fab {
color: black;
}

