/*** prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) ***/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/***Body***/

html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	background: #FFF3FA;
}


/***Headings***/

h1,
h3 {
	padding-top: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 1rem;
	vertical-align: top;
}


/***Dashboard***/

#dashboard {
	font-size: 0.85rem;
	top: 6%;
	background-color: #649B92;
	color:#211E1C;
	position: relative;
	border: 0.3rem solid #68A376;
	border-radius: 0.5rem;
	max-width: 30%;
	text-align: center;
	margin-left: 3%;
	margin-bottom: 2rem;
	padding-bottom: 0.8rem;
}

/***Logo***/

#logo {
	width: 40%;
	height: 30%;
	padding-top: 0;
	margin: 5%;
	position: relative;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}


/*****Rules and difficulty buttons***/

.rules {
	padding: 1rem;
	position: absolute;
	margin-left: 38%;
	background: #68A376;
	height: 20%;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 52.5%;
	text-align: center;
	color: #f1f1f1;
	border: 0.5rem solid #68A376;
	border-radius: 0.5rem;
	text-align: center;
	top: 6%;
	bottom: 60rem;
}

.level-buttons {
	margin-top: 0.8rem;
	padding-right: 1rem;
	padding-bottom: 0.3rem;
}


/***Canvas, navigation***/

canvas {
	background-color: #f1f1f1;
	width: 56%;
	height: 98%;
	margin-bottom: 12%;
	left: 38%;
	border: 1.2rem double #649B92;
	border-radius: 0.5rem;
	top: 7rem;
}

#myCanvas {
	position: absolute;
}

.navigation,
.title-nav {
	text-align: center;
}


/***GitHub Button***/

.fab {
	color: black;
}

.fab:hover {
	color: black;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}


/***Feedback form with submit button ***/

#feedbackBtn {
	padding-top: 0.3rem;
}

.modal {
	display: none;
}

.modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.modal-body {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.modal-content {
	background-color: #68A376;
	margin: 20% auto;
	border: 0.125rem solid #649B92;
	text-align: center;
}

#feedbackForm {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 50%;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.close {
	color: rgb(7, 8, 7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

input[type="text"],
textarea,
input[type="email"],
#email {
	padding: 0.625rem;
	border: #68A376 solid 0.125rem;
	border-radius: 0.125rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 0.3125rem;
	margin-bottom: 0.9375rem;
	margin-left: 50%;
	resize: vertical;
}

.label-name,
.label-email,
.label-feedback {
	font-size: 1.1rem;
	margin-left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	line-height: 80%;
}

#submit {
	margin-left: 80%;
}

#success {
	text-align: center;
	border: 0.3rem #649B92 solid;
	border-radius: 0.2rem;
}


/*** Victory modal ***/

#victory {
	text-align: center;
	border: 0.3rem solid;
	border-radius: 1.5rem;
}

#victory .modal-content {
	background: #ffc107;
}

.btn-warning {
	margin: 0.5rem;
}


/*** CSS Responsive breakpoints */

/*** Tested on Iphone5/SE ***/

@media only screen and (min-width: 300px) and (max-width: 349px) {
	.rules {
		height: 53%;
		width: 40%;
		font-size: 0.5rem;
		padding-bottom: 0;
	}
	#dashboard {
		width: 52%;
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
		right: 1.7rem;
		padding-left: 1rem;
		padding-bottom: 0.5rem;
	}
	.levels,
	.title-nav {
		font-size: 1rem;
	}
	.title {
		font-size: 1.3rem;
	}
	#myCanvas {
		top: 23rem;
	}
}


/*** Small mobile devices ***/
/*** Tested on Moto G4, Galaxy S5 ***/

@media only screen and (min-width: 350px) and (max-width: 374px) {
	.rules {
		font-size: 0.8rem;
		width: 43%;
		height: 43%;
		padding-bottom: 0.1rem;
		padding-top: 0.2rem;
	}
	.levels,
	.title-nav {
		font-size: 1rem;
	}
	.title {
		font-size: 1.5rem;
	}
	.nav-buttons {
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
	}
	#dashboard {
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
		width: 30%;
		right: 7%;
		padding-bottom: 1.6rem;
	}
	#myCanvas {
		top: 21rem;
	}
}


/*** Tested on Pixel2, Pixel2 XL, Iphone 6/7/8, Iphone 6/7/8 Plus, Iphone X ***/

@media only screen and (min-width: 374px) and (max-width: 415px) {
	.rules {
		height: 45%;
		width: 45%;
		padding-bottom: 0.5rem;
	}
	.title {
		font-size: 1.9rem;
	}
	.title-nav,
	.levels {
		font-size: 0.9rem;
	}
	#dashboard {
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
		right: 6%;
	}
	#myCanvas {
		top: 27.5rem;
	}
}


/*** Small screened mobiles - landscape mode ***/

@media only screen and (min-width: 416px) and (max-width:569px) {
	.rules {
		height: 65%;
		width: 48%;
	}
	.title-nav,
	.levels {
		font-size: 1.3rem;
	}
	#myCanvas {
		margin-top: 11rem;
	}
   
}

@media only screen and (min-width: 569px) and (max-width:736px) {
	.rules {
		height: 46%;
		width: 49%;
		-webkit-box-sizing: content-box;
		        box-sizing: content-box;
	}
	.levels {
		font-size: 1.3rem;
	}
	#myCanvas {
		top: 17rem;
	}
}

@media only screen and (min-width: 737px) and (max-width:811px) {
	.rules {
		height: 18%;
		width: 50%;
	}
	.levels {
		font-size: 1.3rem;
	}
	#myCanvas {
		top: 17.5rem;
	}
}

@media only screen and (min-width: 812px) and (max-width:960px) {
	.rules {
		height: 40%;
		width: 49%;
	}
	.levels {
		font-size: 1.3rem;
	}
	#myCanvas {
		top: 17rem;
	}
}


/*** Large Devices, Wide Screens ***/
/***Tested on Ipad, Ipad Pro, laptop, laptop with touch ***/

@media only screen and (min-width: 961px) {
	.rules {
		height: 16%;
		padding-bottom: 0.7rem;
	}
	#myCanvas {
		top: 13.5rem;
	}
}