@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/***Body***/

html,
body {
	margin: 0;
	padding: 0;
    width: auto;
    min-height: 100vh;
	font-family: 'Roboto Mono', monospace;
	background: #FFF3FA;
}


/***Headings***/

h1,
h3 {
	padding-top: 0;
	justify-content: center;
	margin-top: 1rem;
	vertical-align: top;
}


/***Dashboard***/
/***Logo***/

#logo {
	width: 40%;
	height: 30%;
	padding-top: 0;
	margin: 5%;
	position: relative;
	align-items: center;
}

/*****Rules and difficulty buttons***/

#dashboard {
	font-size: 0.85rem;
	top: 0;
	background-color: #649B92;
	color: rgb(32, 30, 28);
	position: relative;
	box-sizing: content-box;
	border: 0.3rem solid #68A376;
	border-radius: 0.5rem;
	max-width: 30%;
	text-align: center;
	margin-left: 3%;
	margin-bottom: 2rem;
}

.rules {
	padding: 1rem;
	position: absolute;
	margin-left: 38%;
	background: #68A376;
	height: 3%;
	box-sizing: content-box;
	justify-content: center;
	width: 52.7%;
	text-align: center;
	color: #f1f1f1;
	border: 0.5rem solid #68A376;
	border-radius: 0.5rem;
    text-align: center;
    padding-bottom:2rem;
    
    
}

.level-buttons {
	margin-top: 0.8rem;
	padding-right: 1rem;
	padding-bottom: 2.6rem;
}


/***Canvas, navigation***/

canvas {
	background-color: #f1f1f1;
	position: absolute;
	left: 38%;
	margin-top: 5.5%;
	border: 1.4rem double #649B92;
	border-radius: 0.5rem;
    width: 56%;
}

.navigation {
	text-align: center;
}

.vertical {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 5%;
	margin-left: 40%;
}

.horizontal {
	display: flex;
	flex-direction: row;
	bottom: 6.5rem;
	position: relative;
	margin-left: 30%;
	width: 10%;
	height: 5%;
}


/***Footer***/

footer {
	background: #919191;
	bottom: 0;
	min-width: 100%;
	height: 3.5rem;
	text-align: center;
}

.fab {
	color: black;
}

.fab:hover {
	color: black;
	transition-duration: 0.4s;
}


/******Feedback form with submit button *****/

#feedbackBtn {
	padding-top: 0.3rem;
}

.modal {
	display: none;
}

.modal-header {
	display: flex;
	justify-content: center;
}

.modal-body {
	align-items: center;
}

.modal-content {
	background-color: #68A376;
	margin: 20% auto;
	border: 2px solid #649B92;
    text-align: center;
}

#feedbackForm {
	box-sizing: border-box;
	width: 50%;
	text-align: center;
	justify-content: center;
}

.close {
	color: rgb(7, 8, 7);
	display: flex;
	align-items: flex-end;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

input[type="text"],
textarea,
input[type="email"],
#email {
	padding: 0.625rem;
	border: #68A376 solid 0.125rem;
	border-radius: 0.125rem;
	box-sizing: border-box;
	margin-top: 0.3125rem;
	margin-bottom: 0.9375rem;
	margin-left: 50%;
	resize: vertical;
}

.label-name,
.label-email,
.label-feedback {
	font-size: 1.1rem;
	margin-left: 50%;
	display: flex;
	flex-direction: row;
	line-height: 80%;
}

#submit {
	margin-left: 80%;
}
#success{
    text-align: center;
    border: 0.3rem #649B92 solid;
    border-radius:0.2rem;
    
    

}



/***** Victory modal ****/
#victory{
    text-align: center;
    border: 0.3rem solid;
    border-radius: 1.5rem; 
    

}
#victory .modal-content {
    background: #ffc107;}

.btn-warning{
    margin:0.5rem;
}

/*** CSS Responsive breakpoint from https://gist.github.com/EmranAhmed/8044351
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
   


    footer{
        min-width:140vh;
    }
	
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
	
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {


	
footer{
    min-width:105vh;
}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
	


footer{
    min-width:105vh;
}





}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    
footer {
    min-width:105vh;
}


	
}