@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/***Body***/
body {
    font-family: 'Roboto Mono', monospace;
        }

/***Logo***/
.logo {
width: 11rem;
height: 10rem;
padding-top:0;
}


/***Headings***/
header {
padding-top:0;
margin-left:40%;
margin-top:1rem;
display:inline-block;
vertical-align: top;

}
/***Dashboard***/
.dashboard {
    font-size: 0.85rem;
    width: 30%;
    height: 35%;
    
}

.rules{
    border: solid 0.2em black;
    padding: 1rem;
    
}

.level {
    text-align: center;

}

.level-title{
    
}

.level-buttons{
    margin-top:1.2rem;
}

button{
    padding-right: 1rem;
}