@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/***Body***/

* {
    outline: 1px solid red;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto Mono', monospace;
}

#container {
	min-height: 100%;
	position: relative;
	text-align: center;
}


/***Logo***/

#logo {
	width: 11rem;
	height: 10rem;
	padding-top: 0;
	margin: 5%;
	position: relative;
}


/***Headings***/

h1 {
	padding-top: 0;
	justify-content: center;
	margin-top: 1rem;
	vertical-align: top;
}

h1 {
	text-align: center;
}


/***Dashboard***/

#dashboard {
	font-size: 0.85rem;
	width: 30%;
	height: 75%;
	background-color: #649B92;
	color: rgb(32, 30, 28);
	position: relative;
	box-sizing: content-box;
	border: 0.2rem solid #68A376;
    margin-top:1rem;
}

.rules {
	padding: 1rem;
}

.level {
	text-align: center;
}

.level-buttons {
	margin-top: 1.2rem;
}




/***Game area***/

canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
	position: relative;
	left: 40%;
    margin-top:1rem;
	border: 2px solid #649B92;
   
}

.navigation {
	bottom: 37rem;
    position: relative;
    
	
}



/***Footer***/

footer {
	background: rgb(179, 171, 160);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	text-align: center;
}

.fab {
	color: black;
}
/******Feedback form *****/

.modal {

    display: none;
    
.modal-header{
    display:flex;
    justify-content: center;
}
}
.modal-body{
    align-items: center;
}
.modal-content {
	background-color: #68A376;
	margin: 20% auto;
	border: 2px solid #649B92;
    
}
#feedbackForm{
    box-sizing:border-box;
    width: 50%;
    text-align: center;
    justify-content: center;
}



.close {
	color: rgb(7, 8, 7);
	display: flex;
    align-items: flex-end;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

input[type="text"],
textarea,
input[type="email"],
email {
    
	padding: 0.625rem;
	border: #68A376;solid 0.125rem;
	border-radius: 0.125rem;
	box-sizing: border-box;
	margin-top: 0.3125rem;
	margin-bottom: 0.9375rem;
    margin-left:50%;
	resize: vertical;
}
.label-name, .label-email, .label-feedback{
    font-size: 1.1rem;
    margin-left:50%;
    display: flex;
    flex-direction:row;
     line-height: 80%;
    
}
#submit{ 
   margin-left:80%;
}
